################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerService.API/obj
/CustomerService.API/Properties
/.vs/CustomerService/v15
/CustomerService.API/CustomerService.API.csproj.user
/CustomerService.DAL/obj
/CustomerService.DTO/obj
